<h1>{{question.content}}</h1>

<h2>{{question.author}}</h2>

<p>
  {{question.notes}}
</p>

<h2> Answers </h2>

<ul>
  {{#each question.answers as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
