<div class= "container">
  <header class= "jumbotron">
    <p>{{#link-to 'index'}}go home{{/link-to}}</p>
    <p>{{#link-to 'favorites'}}Your Favorite Questions{{/link-to}}</p>
    <h1>Ask the Aether</h1>
  </header>
    {{outlet}}
  <hr>
</div>
