<div class= "container">
  <header class= "jumbotron">
    {{#link-to 'index'}}Home Page{{/link-to}}
    <br>
    {{#link-to 'favorites'}}Your Favorite Questions{{/link-to}}
    <h1>Ask the Aether</h1>
  </header>
    {{outlet}}
  <hr>
</div>
