<h1> ask the ether </h1>

??? questions here. see what happens.

<ul>
  {{#each model as |question|}}
    {{question-tile question = question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
