<h3>So Many Questions:</h3>

<ul>
  {{#each model as |question|}}
    {{question-popularity question}}{{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
